option_settings:
  - option_name: SECRET_KEY
    value: 9uv_n_vre2=w&4zw$a7sh!ifx5((ww9h)z%-z+zmw#79q0pmze
  - option_name: EMAIL_HOST
    value: smtp.gmail.com
  - option_name: EMAIL_HOST_PASSWORD
    value: xxxx
  - option_name: EMAIL_HOST_USER
    value: yyyy@gmail.com
  - option_name: EMAIL_PORT
    value: 587
  - option_name: EMAIL_USE_TLS
    value: True
  - option_name: RDS_DB_NAME
    value: ebdb
  - option_name: RDS_USERNAME
    value: retailsdbuser
  - option_name: RDS_PASSWORD
    value: Test123$
  - option_name: RDS_HOSTNAME
    value: awseb-e-bxthhmvv8m-stack-awsebrdsdatabase-bo7nnfrr7lfl.cfwjo1z2fxkb.us-east-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 3306
