{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<!--div class="intro-banner-wrap">
	<img src="{% static 'images/cover_purple.jpeg' %}" class="img-fluid rounded">
</div-->

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<!--header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header--><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">$ {{product.price}}</div> <!-- price-wrap.// -->
				<div class="rating-star">
					<span>
						<i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
						<i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
	<span>{{product.countReview}} reviews</span>
						</span>
				</div>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<script type="text/javascript">
	(function(w, d, x, id){
	  s=d.createElement('script');
	  s.src='https://dtn7rvxwwlhud.cloudfront.net/amazon-connect-chat-interface-client.js';
	  s.async=1;
	  s.id=id;
	  d.getElementsByTagName('head')[0].appendChild(s);
	  w[x] =  w[x] || function() { (w[x].ac = w[x].ac || []).push(arguments) };
	})(window, document, 'amazon_connect', '473d1d04-a79b-4687-a255-c011f8fb02bb');
	amazon_connect('styles', { iconType: 'CHAT', openChat: { color: '#ffffff', backgroundColor: '#123456' }, closeChat: { color: '#ffffff', backgroundColor: '#123456'} });
	amazon_connect('snippetId', 'QVFJREFIakZhMVo2ZGZmSXpGSnpJS2lYakthYVBxMmJIU0ZPbnhET3AyalJDV1F3UWdGVHFNVnNwckN6elZncE1QY2t0QVU3QUFBQWJqQnNCZ2txaGtpRzl3MEJCd2FnWHpCZEFnRUFNRmdHQ1NxR1NJYjNEUUVIQVRBZUJnbGdoa2dCWlFNRUFTNHdFUVFNbGRSQnc4TlNyUVEzNHp2aUFnRVFnQ3VRYXVqNVE3YXllbEk4b3ZhdUg2VHAySXJkYURRTlJTYmo3NENpTzVtd2x4NVpoZU05Q3YraXBRMmU6Ok1OVS9uNTJWL0NKSFpVb2ZwTzUxM2lLc3p1YUtkMVBLTUpwME1rUXZhRnE5VWV6YlAxMjArNXVqdW1QS0E0UlJ0VXVhQnBFTFk2bE0xa01XdUh4VVRnc0ZMc083SkZjS2cvcW9jNmdGaVFmY3MzZnJjVEJkTHRFaGJ5cCtmb1IvRm1qQmpXNENKaEJSN2Rsd25sRkdPV2NyWERzTVpQbz0=');
	amazon_connect('supportedMessagingContentTypes', [ 'text/plain', 'text/markdown' ]);
  </script>


</body>
</html>

{% endblock %}